li{list-style-type:none;}
.status1{color: rgb(224, 158, 103);font-size: 14px;}
.status2{color: green;font-size: 15px;}
.status3{color: red;font-size: 10px;}
/*
*------------------top-------------
*/
.top{text-align: center;
font-size: 12px;
color: green;}
/*
*------------------content-------------
*/
.connent{margin-left: auto;margin-right:auto;}
.regform{margin-left: auto;margin-right:auto;width:398px;}
.content ul{width:600px;margin-left: auto;margin-right:auto;margin-top:55px;}
.content li{margin-left: auto;margin-right:auto;margin-bottom:46px;}
.spa0{width: 78px;
text-align: right;
float: left;
font-family: 微软雅黑;
color: green;
font-size: 15px;}
.spa1{width: 200px;
display: block;
float: left;}
.biankuang{border:2px solid  rgb(224, 158, 103);}
.content_li_con{width: 74%;
height: 20px;

display: block;
margin-left: auto;
margin-right: auto;}
.button{float: left;
width: 64px;
height: 28px;
background-color:  rgb(224, 158, 103);
border: 2px solid #BEA184;
margin-right: 30px;color: green;
font-family: 微软雅黑;}